* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

header {
  background-color: navy;
  color: white;
  display: flex;
  height: 100px;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
}

header .menu {
  justify-content: space-between;
}

header .list-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  width: 100%;
  align-items: center;
}

div img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  margin: auto;
  max-width: 992px;
  width: 100%;
  min-width: 320px;
}

.apresentacao {
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}

.know-more {
  min-height: 200px;
}

.know-more h1 {
  color: navy;
  font-size: 48px;
  margin-bottom: 10px;
}

.know-more a {
  background-color: navy;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  display: block;
  line-height: 50px;
  margin: 10px 0 10px 0
}

.who-we-are {
  align-items: center;
  justify-content: space-between;
}

.who-we-are-txt h1 {
  color: navy;
  margin-bottom: 20px;
  border: 5px solid navy;
  border-bottom: none;
  border-right: none;
  border-top: none;
  padding-left: 10px;
  font-size: 32px;
}

.who-we-are-txt p {
  line-height: 25px;
}

.who-we-are img {
  min-width: 500px;
}

.container-services {
  background-color: navy;
  color: white;
  width: 100%;
}

.services {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}

.list-services {
  display: flex;
  justify-content: space-between;
}

.services-title {
  font-size: 15px;
  margin-bottom: 40px;
}

.list-services .items-services {
  text-align: center;
}

.items-services a {
  background-color: white;
  color: navy;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  display: block;
  line-height: 50px;
  margin: 20px 0 10px 0
}

.items-services img {
  margin-bottom: 20px;
  width: 80%;
  margin: auto;
}

.items-services p{
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
}

.plans {
  flex-direction: column;
  min-height: 100vh;
}

.plans h1 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list-plans {
  display: flex;
  align-items: flex-end;
}

.items-plans {
  border: 5px solid black;
  margin-right: 20px;
  flex: 1;
  padding: 10px;
}

.items-plans a {
  background-color: navy;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  display: block;
  line-height: 50px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.items-plans h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.items-plans h3::after {
  content: "";
  background-color: navy;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.items-plans ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.items-plans ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px 0 ;
}

.items-plans ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: navy;
  margin-right: 5px;
}

footer {
  background-color: navy;
  color: white;
  display: flex;
  height: 100px;
  align-items: center;
}

footer .footer {
  justify-content: space-between;
}

/* Responsividade */
/* Mobile */
@media(max-width: 992px) {
  .flex-container{
    flex-direction: column;
  }

  .apresentacao {
    flex-direction: column;
  }

  .know-more {
    width: 100%;
  }

  .who-we-are {
    flex-direction: column-reverse;
  }

  .who-we-are img {
    min-width: 320px;
    margin: auto;
  }

  .list-services {
    flex-direction: column;
  }

  .items-services img {
    width: 50%;
    margin: auto;
  }

  .items-services a {
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .list-plans {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .list-plans .items-plans {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}